body {
  background-color: #171717;
  text-align: center;
}

/* NAVIGATION BAR */
#title .container-fluid {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2% 10% 0;
}

/* TITLE SECTION */
#title {
  background-color: #444444;
}

.title-container {
  padding: 15% 17% 15%;
}

.title-div {
  padding: 5% 3% 5%;
}

.title-heading {
  font-family: 'Cormorant Infant', serif;
  font-size: 6rem;
  font-weight: 600;
  color: white;
}

.title-sub-heading {
  font-family: 'Dongle', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

/* ABOUT ME SECTION */

.about-me-heading {
  font-family: 'Dongle', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.about-me-paragraph {
  font-family: 'Cormorant Infant', serif;
  color: white;
  font-size: 1.5rem;
}

.about-me-container {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.about-me-div {
  padding: 5% 3% 5%;
}

/* EDUCATION SECTION */

.education-figure {
  padding-top: 3%;
  padding-bottom: 3%;
}

.education-heading {
  font-family: 'Dongle', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.education-container {
  padding: 6% 17% 6%;
  text-align: left;
}

.education-icon {
  width: 150px;
  height: 150px;
}

.qmul-image {
  width: 90%;
}

.hammersmith-image {
  width: 90%;
}

.fcbs-image {
  width: 90%;
}

.date {
  font-family: 'Dongle', sans-serif;
  color: white;
}

.education-school {
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
}

.education-qualification {
  font-family: 'Dongle', sans-serif;
  color: white;
  font-size: 2rem;
}

/* RESPONSIVENESS */
@media (max-width: 990px) {
  .title-heading {
    font-size: 5rem;
  }

  .education-container {
    text-align: center;
  }
}

@media (max-width: 1180px) {
  .education-school {
    font-size: 1.5rem;
  }
  .education-qualification {
    font-size: 1.5rem;
  }
}

@media (max-width: 572px) {
  .title-heading {
    font-size: 3.5rem;
  }

  .title-sub-heading {
    font-size: 2rem;
  }

  .education-icon {
    width: 100px;
    height: 100px;
  }
}
