body {
  background-color: #171717;
  text-align: center;
}

/* NAVIGATION BAR */
#title .container-fluid {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav-container {
  padding: 3% 20% 3%;
}

.nav-text {
  font-family: 'Montserrat', sans-serif;
}

/* TITLE SECTION */
#title {
  background-color: #444444;
}

.title-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.title-div {
  padding-top: 5%;
  padding-bottom: 5%;
}

.title-heading {
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Cormorant Infant', serif;
  font-size: 6rem;
  font-weight: 600;
  color: white;
}

.title-sub-heading {
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

/* ABOUT ME SECTION */
.about-me-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.about-me-paragraph {
  font-family: 'Cormorant Infant', serif;
  color: white;
  font-size: 1.5rem;
}

.about-me-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.about-me-div {
  padding: 3% 20% 3%;
}

/* EDUCATION SECTION */
.education-container {
  padding: 3% 20% 3%;
  text-align: left;
}

.education-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
}

.education-box-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
}

.date {
  font-family: 'Dongle', sans-serif;
  color: #444444;
}

.education-school {
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
}

.education-qualification {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
}

.work-experience {
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
}

.job-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
}

/* SKILLS SECTION */
.skills-icon {
  color: #DA0037;
}

.skills-container {
  padding: 3% 20% 3%;
}

.skills-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
}

.skill-boxes {
  padding: 3% 2% 3%;
}

.skill-title {
  font-family: 'Cormorant Infant', serif;
  color: white;
  font-size: 2rem;
}

/* PROJECTS SECTION */
.projects-container {
  padding: 3% 20% 3%;
}

.projects-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
}

.projects-box {
  padding: 3% 2% 3%;
}

.project-title {
  text-align: left;
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
  font-weight: 400;
}

.project-description {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 2;
}

.tindog-image {
  width: 100%;
}

/* CONTACT ME SECTION */
.contact-me-container {
  padding: 3% 20% 3%;
}

.contact-divs {
  text-align: left;
}

.contact-me-box {
  padding: 3% 2% 3%;
}

.details-box {
  text-align: left;
  padding: 3% 2% 3%;
}

.get-in-touch-heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact-me-heading {
  text-align: left;
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
  padding-bottom: 3%;
}

.details-heading {
  font-family: 'Cormorant Infant', serif;
  color: #DA0037;
  font-size: 2rem;
  padding-bottom: 3%;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.submit-button {
  background-color: #DA0037;
  margin-top: 20px;
}

.button {
  text-align: left;
}

span {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.details-paragraph {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

/* FOOTER SECTION */
.footer-container {
  padding: 3% 20% 3%;
}

.footer-icon {
  color: #DA0037;
  padding: 3% 2% 3%;
}

.footer-icon:hover {
  color: #444444;
}

.footer-paragraph {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  padding: 3% 2% 3%;
}

ul {
  list-style-type: none;
}

/* RESPONSIVENESS */
@media (max-width: 991px) {
  .title-heading {
    font-size: 4rem;
  }

  .title-sub-heading {
    font-size: 1.5rem;
  }

  .title-container {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .about-me-div {
    padding: 3% 1% 3%;
  }

  .skills-container {
    padding: 3% 1% 3%;
  }

  .projects-container {
    padding: 3% 1% 3%;
  }

  .project-title {
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .contact-me-container {
    padding: 3% 1% 3%;
  }

  .education-container {
    padding: 3% 1% 3%;
  }

  .education-box-heading {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contact-me-heading {
    text-align: center;
  }

  .details-box {
    text-align: center;
  }
}
